extends layoutBS

block content
  h1.nofloat RateMyDiningHall 
  p
  p
  p is an app that empowers its users with the knowledge
  p on which of their campus dining halls have the best
  p offerings of the day. 
    
    
