extends layoutBS

block content 
  form(method='post')
    p(style='white-space:pre;')
      |   School:
      input(type='text', name='school', value=school)
      br
      |   Dining Hall:
      input(type='text', name='dininghall', value=dininghall)
      br
      |   Food Quality:
      select.form-control.form-control-sm(type='text', name='quality', value=quality)
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5
        option 6
        option 7
        option 8
        option 9
        option 10
      |   Food Variety:
      select.form-control.form-control-sm(type='text', name='variety', value=variety)
        option 0
        option 1
        option 2
        option 3
        option 4
        option 5
        option 6
        option 7
        option 8
        option 9
        option 10
      input(type='submit', value='Submit')
